/node_modules
/vendor
/public/hot
/storage/*.key
/storage/app/public
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env
.env
bootstrap/cache/services.php
bootstrap/cache/packages.php
bootstrap/cache/livewire-components.php
